<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form method = "GET" action="/chats/new">
        <button type="submit">New Chat</button>
    </form>
    <% chats.forEach(chat => { %>
        <div class="chat">
            <p><strong>From : <%= chat.from %></strong> 
            <p> To :<%= chat.to %>  </p>
            <div class="message">
            <p> Message: <%= chat.message %></p>
            <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button type="submit">Edit</button>
            </form>
            </div>
            
    
            <small>Time :<%= chat.createdAt.toString().split(" ").slice(0, 4).join("-") %>
            </small>
        </div>
     
    </hr>
    <% }) %>
</body>
</html>